<!DOCTYPE html>
<html >
<head>

<title>FlaschenToy</title>
<head>

  <style>
  </style>

<body>

<h2> Connected to Flaschen-Taschen on {{host}}:{{port}} </h2>
<button type="button" id="update">Start Updating Flaschen Taschen</button>
<div >
	<div id="canvasDiv"><canvas width="{{ display_width }}" height="{{ display_height }}" id="ftCanvas"></canvas></div>
</div>
    <div id="errMsg"> </div>
        <textarea cols="150" rows="30" id="updateFunc">
            // Mandelbrot set zoom, with smooth coloring (Douady-Hubbard) by iq]
            // https://www.shadertoy.com/view/lllGWH
            // Created by inigo quilez - iq/2015
            // License Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License.

            void mainImage( out vec4 f, in vec2 p )
            {
            float n = 0.;
            vec2 c = vec2(-.745,.186) + 3. * (p.xy/iResolution.y-.5)*pow(.01,1.+cos(.2*iGlobalTime)), z=c*n;

            for( int i=0; i<128; i++ )
                                 {
                                 z=vec2( z.x*z.x - z.y*z.y, 2.*z.x*z.y ) + c;
                                 if( dot(z,z)>
                1e4 ) break;

                n++;
                }

                f = .5 + .5*cos( vec4(3,4,11,0) + .05*(n - log2(log2(dot(z,z)))) );
                }
</textarea>
        <script type="text/javascript" src="data/js/glMatrix-0.9.5.min.js"></script>

        <script src="data/js/ft-flask.js"></script>
        <script src="data/js/FlaschenToy.js"></script>
        <script>
            init_ft({{display_width}},{{display_height}})
            webGLStart({{display_width}},{{display_height}})
        </script>

</body></html>