<!DOCTYPE html>
<html >
<head>

<title>Simple Flaschen-Taschen web interface</title>
<head>

  <style>
  </style>

<body>

<h2> Connected to Flaschen-Taschen on {{host}}:{{port}} </h2>
<button type="button" id="update">Start Updating Flaschen Taschen</button>
<div >
	<div id="canvasDiv"><canvas width="{{ display_width }}" height="{{ display_height }}" id="ftCanvas"></canvas></div>
</div>
    <div id="errMsg">
        
    </div>
        <textarea cols="150" rows="30" id="updateFunc">
            const speed = 0.01
            const centerX = 20 + Math.sin(t * speed) * 25
            const centerY = 20
            const radius = 15*(1.0+Math.cos(t*0.02))


            ctx.beginPath();
            ctx.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
            ctx.fillStyle = 'green';
            ctx.fill();
            ctx.lineWidth = 1;
            ctx.strokeStyle = '#003300';
            ctx.stroke()
        </textarea>

        <script src="data/js/ft-flask.js"></script>
        <script src="data/js/canvas-func.js"></script>
        <script>
            init_ft({{display_width}},{{display_height}})
            init_canvas({{display_width}},{{display_height}})
        </script>

</body></html>